body {
    padding:0px;
    margin: 0px;
    background-color: #aaa;
    font-family: calibri,sans-serif;
    align-content: center;
    text-align: center;
}

header {
    background-color: #333;
    border-width: 0px;
    border-bottom-width: 5px;
    border-style: solid;
    border-color: #777;
}

header > h1 {
    color:#aaa;
    margin:0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13vmin;
}

header > h2 {
    color:#999;
    margin:0px;
    font-size: 4.5vmin;
}

#bin {
    height: 5vmin;
    font-size: 5vmin;
    width: 25vw;
    font-family:monospace;
    margin: 1vmin;
}

#input, #result{
    font-weight: bold;
    padding:5vmin 0px;
    font-size: 5vmin;
}

#result {
    /*display:inline-block;*/
    background-color: #888;
}
form {
    display: inline;
}

#btn {
    text-decoration: none;
    display:inline-block;
    background-color: #333;
    color:#eee;
    padding:1.4vmin 1vmin;
    border-radius: 10px;
}

#btn:hover {
    color:#aaa;
}

#btn:active {
    color: #0d0
}

.invalid {
    color: #900;
}

#banner {
    width: 95vw;
    margin:1.5vmin;
}

footer {
    padding:2vmin;
    background-color: #333;
    border-width: 0px;
    border-top-width: 5px;
    border-style: solid;
    border-color: #777;
    color:#eee;
    font-size: 4vmin;
}

footer a:visited {
    color:#eee;
}