body {
    padding:0px;
    margin: 0px;
    background-color: #aaa;
    font-family: calibri,sans-serif;
    align-content: center;
    text-align: center;
}

header {
    background-color: #333;
    border-width: 0px;
    border-bottom-width: 5px;
    padding:25px;
    border-style: solid;
    border-color: #777;
}

header > h1 {
    color:#aaa;
    margin:0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4rem;
}

header > h2 {
    color:#999;
    margin:0px;
    font-size: 1.2rem;
}

#bin {
    height: 2rem;
    font-size: 2rem;
    width: 150px;
    font-family:monospace;
}

/*input invalid{
    border-width: 5px;
    border-color: red;
} */

#input, #result{
    font-weight: bold;
    padding:25px;
    font-size: 1.5rem;
}

#input, #label {
    padding-right: 20px;
}

#result #dec-label {
    padding-right: 20px;
}
#result {
    /*display:inline-block;*/
    background-color: #888;
}
form {
    display: inline;
}

#btn {
    text-decoration: none;
    display:inline-block;
    background-color: #333;
    color:#eee;
    padding:4px 10px;
    border-radius: 10px;
}

#btn:hover {
    color:#aaa;
}

#btn:active {
    color: #0d0
}

.invalid {
    color: #900;
}

footer {
    padding:10px 25px;
    background-color: #333;
    border-width: 0px;
    border-top-width: 5px;
    border-style: solid;
    border-color: #777;
    color:#eee;
}